body {
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

header {
    background-color: #2B324A;
    color: #ffffff; /* Color del texto en el encabezado */
    padding: 60px; /* Ajusta el espaciado interno según tus preferencias */
    text-align: left;
}

header h1 {
    margin: 0;
}

header div {
    margin: 0;
    float:right;
}

header img {
        float: left;
        margin-right: 15px;
        width: 80px;
        height: 100px;
        margin-top: -40px; /* Ajusta el margen superior según tus preferencias */
        margin-left: -40px;
        
    }

    .cuadrado {
        width: 380px;           /* Ancho de 150 píxeles */
        height: 280px;          /* Alto de 150 píxeles */
        background: #D9D9D933;        /* Fondo de color rojo */
        border: 1px solid #ffffff; /* Borde color negro y de 1 píxel de grosor */
        margin-top: 30px;
        margin-left: 90px;
        border-radius: 60px;
      }

    div h2 {
        margin-left: 80px;
    }

    div img {
        width: 150px;
        height: 120px;
        margin-left: 110px;
    }

    div button {
        background:#2B324AAD;
        margin-top: 25px;
        margin-left: 95px;
        font-size: 20px;
        width: 200px;
        border-radius: 60px;
    }

    .cuadrado2 {
        
        background: #D9D9D933;        /* Fondo de color rojo */
        border: 1px solid #ffffff; /* Borde color negro y de 1 píxel de grosor */
        margin-top: -80px;
        margin-left: 1000px;
        border-radius: 60px;
        
    }
    h3{
        margin-top: 300px;
        font-size: 15px;
        text-align: justify;
    }

    .cuadrado1 {
        width: 380px;           /* Ancho de 150 píxeles */
        height: 280px;          /* Alto de 150 píxeles */
        background: #D9D9D933;        /* Fondo de color rojo */
        border: 1px solid #ffffff; /* Borde color negro y de 1 píxel de grosor */
        margin-top: -150px;
        margin-left: 1000px;
        border-radius: 60px;
      }












      .cuadrado {
        width: 380px;
        height: 280px;
        background: #D9D9D933;
        margin-top: 30px;
        margin-left: 90px;
        border-radius: 60px;
    }
    div h2 {
        margin-left: 80px;
    }
    div img {
        width: 150px;
        height: 120px;
        margin-left: 110px;
    }
    
    div button {
        background:#2B324AAD;
        margin-top: 25px;
        margin-left: 95px;
        font-size: 20px;
        width: 200px;
        border-radius: 60px;
    }
    
    .cuadrado1 {
        width: 380px;
        height: 280px;
        background: #D9D9D933;
        margin-left: 1000px;
        border-radius: 60px;
    }
    
    h4{
        margin-top: 300px;
            font-size: 15px;
            text-align: justify;
    }
    
    .cuadrado2 {
        width: 380px;
        height: 280px;
        background: #D9D9D933;
        margin-left: 120px;
        border-radius: 60px;
    }
    
    .cuadrado3 {
        width: 380px;
        height: 280px;
        background: #D9D9D933;
        margin-top: 30px;
        margin-left: 1200px;
        border-radius: 60px;
    }
    div h2 {
        margin-left: 80px;
    }
    div img {
        width: 150px;
        height: 120px;
        margin-left: 110px;
    }
    
    div button {
        background:#2B324AAD;
        margin-top: 25px;
        margin-left: 95px;
        font-size: 20px;
        width: 200px;
        border-radius: 60px;
    }